
body{
    font-size: small;
}

.logo_footer{
    width: 100px;
    height: 100px;
}

#page{
    background-color: green;
}

#header{
    /*background-image: url("../../webapp/img/header.jpg");*/
    background-repeat: repeat-y; !important;
}

#footer{
    /*background-image: url("../../webapp/img/footer.jpg");*/
    background-repeat: repeat-y; !important;
}