<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0"
         xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <context-param>
        <param-name>javax.faces.PROJECT_STAGE</param-name>
        <param-value>Development</param-value>
    </context-param>

    <context-param>
        <param-name>javax.faces.INTERPRET_EMPTY_STRING_SUBMITTED_VALUES_AS_NULL</param-name>
        <param-value>true</param-value>
    </context-param>

    <servlet-mapping>
        <servlet-name>Faces Servlet</servlet-name>
        <url-pattern>*.xhtml</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Faces Servlet</servlet-name>
        <servlet-class>javax.faces.webapp.FacesServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>Faces Servlet</servlet-name>
        <url-pattern>/faces/*</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>faces/index.xhtml</welcome-file>
    </welcome-file-list>

    <!-- paypal part -->
    <servlet>
        <description></description>
        <display-name>ConvertCurrencyServlet</display-name>
        <servlet-name>ConvertCurrencyServlet</servlet-name>
        <servlet-class>com.sample.adaptivepayments.ConvertCurrencyServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ConvertCurrencyServlet</servlet-name>
        <url-pattern>/ConvertCurrency</url-pattern>
    </servlet-mapping>
    <servlet>
        <description></description>
        <display-name>PayServlet</display-name>
        <servlet-name>PayServlet</servlet-name>
        <servlet-class>com.sample.adaptivepayments.PayServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>PayServlet</servlet-name>
        <url-pattern>/Pay</url-pattern>
    </servlet-mapping>
    <servlet>
        <description></description>
        <display-name>PaymentDetailsServlet</display-name>
        <servlet-name>PaymentDetailsServlet</servlet-name>
        <servlet-class>com.sample.adaptivepayments.PaymentDetailsServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>PaymentDetailsServlet</servlet-name>
        <url-pattern>/PaymentDetails</url-pattern>
    </servlet-mapping>
    <servlet>
        <description></description>
        <display-name>RefundServlet</display-name>
        <servlet-name>RefundServlet</servlet-name>
        <servlet-class>com.sample.adaptivepayments.RefundServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RefundServlet</servlet-name>
        <url-pattern>/Refund</url-pattern>
    </servlet-mapping>
    <servlet>
        <description></description>
        <display-name>PreapprovalServlet</display-name>
        <servlet-name>PreapprovalServlet</servlet-name>
        <servlet-class>com.sample.adaptivepayments.PreapprovalServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>PreapprovalServlet</servlet-name>
        <url-pattern>/Preapproval</url-pattern>
    </servlet-mapping>
    <servlet>
        <description></description>
        <display-name>PreapprovalDetailsServlet</display-name>
        <servlet-name>PreapprovalDetailsServlet</servlet-name>
        <servlet-class>com.sample.adaptivepayments.PreapprovalDetailsServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>PreapprovalDetailsServlet</servlet-name>
        <url-pattern>/PreapprovalDetails</url-pattern>
    </servlet-mapping>
    <servlet>
        <description></description>
        <display-name>ConfirmPreapprovalServlet</display-name>
        <servlet-name>ConfirmPreapprovalServlet</servlet-name>
        <servlet-class>com.sample.adaptivepayments.ConfirmPreapprovalServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ConfirmPreapprovalServlet</servlet-name>
        <url-pattern>/ConfirmPreapproval</url-pattern>
    </servlet-mapping>
    <servlet>
        <description></description>
        <display-name>CancelPreapprovalServlet</display-name>
        <servlet-name>CancelPreapprovalServlet</servlet-name>
        <servlet-class>com.sample.adaptivepayments.CancelPreapprovalServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CancelPreapprovalServlet</servlet-name>
        <url-pattern>/CancelPreapproval</url-pattern>
    </servlet-mapping>
    <servlet>
        <description></description>
        <display-name>SetPaymentOptionsServlet</display-name>
        <servlet-name>SetPaymentOptionsServlet</servlet-name>
        <servlet-class>com.sample.adaptivepayments.SetPaymentOptionsServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SetPaymentOptionsServlet</servlet-name>
        <url-pattern>/SetPaymentOptions</url-pattern>
    </servlet-mapping>
    <servlet>
        <description></description>
        <display-name>GetPaymentOptionsServlet</display-name>
        <servlet-name>GetPaymentOptionsServlet</servlet-name>
        <servlet-class>com.sample.adaptivepayments.GetPaymentOptionsServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>GetPaymentOptionsServlet</servlet-name>
        <url-pattern>/GetPaymentOptions</url-pattern>
    </servlet-mapping>
    <servlet>
        <description></description>
        <display-name>ExecutePaymentServlet</display-name>
        <servlet-name>ExecutePaymentServlet</servlet-name>
        <servlet-class>com.sample.adaptivepayments.ExecutePaymentServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ExecutePaymentServlet</servlet-name>
        <url-pattern>/ExecutePayment</url-pattern>
    </servlet-mapping>
    <servlet>
        <description></description>
        <display-name>GetFundingPlansServlet</display-name>
        <servlet-name>GetFundingPlansServlet</servlet-name>
        <servlet-class>com.sample.adaptivepayments.GetFundingPlansServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>GetFundingPlansServlet</servlet-name>
        <url-pattern>/GetFundingPlans</url-pattern>
    </servlet-mapping>
    <servlet>
        <description></description>
        <display-name>GetAllowedFundingSourcesServlet</display-name>
        <servlet-name>GetAllowedFundingSourcesServlet</servlet-name>
        <servlet-class>com.sample.adaptivepayments.GetAllowedFundingSourcesServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>GetAllowedFundingSourcesServlet</servlet-name>
        <url-pattern>/GetAllowedFundingSources</url-pattern>
    </servlet-mapping>
    <servlet>
        <description></description>
        <display-name>GetShippingAddressesServlet</display-name>
        <servlet-name>GetShippingAddressesServlet</servlet-name>
        <servlet-class>com.sample.adaptivepayments.GetShippingAddressesServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>GetShippingAddressesServlet</servlet-name>
        <url-pattern>/GetShippingAddresses</url-pattern>
    </servlet-mapping>
    <servlet>
        <description></description>
        <display-name>GetAvailableShippingAddressesServlet</display-name>
        <servlet-name>GetAvailableShippingAddressesServlet</servlet-name>
        <servlet-class>com.sample.adaptivepayments.GetAvailableShippingAddressesServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>GetAvailableShippingAddressesServlet</servlet-name>
        <url-pattern>/GetAvailableShippingAddresses</url-pattern>
    </servlet-mapping>
    <servlet>
        <description></description>
        <display-name>IPNListenerServlet</display-name>
        <servlet-name>IPNListenerServlet</servlet-name>
        <servlet-class>com.sample.ipn.IPNListenerServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>IPNListenerServlet</servlet-name>
        <url-pattern>/IPNListener</url-pattern>
    </servlet-mapping>

    <!--  Usecase Samples  -->
    <servlet>
        <description></description>
        <display-name>SimplePaymentServlet</display-name>
        <servlet-name>SimplePaymentServlet</servlet-name>
        <servlet-class>com.sample.usecase.SimplePaymentServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SimplePaymentServlet</servlet-name>
        <url-pattern>/SimplePayment</url-pattern>
    </servlet-mapping>

    <servlet>
        <description></description>
        <display-name>ParallelPaymentServlet</display-name>
        <servlet-name>ParallelPaymentServlet</servlet-name>
        <servlet-class>com.sample.usecase.ParallelPaymentServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ParallelPaymentServlet</servlet-name>
        <url-pattern>/ParallelPayment</url-pattern>
    </servlet-mapping>

    <servlet>
        <description></description>
        <display-name>ChainedPaymentServlet</display-name>
        <servlet-name>ChainedPaymentServlet</servlet-name>
        <servlet-class>com.sample.usecase.ChainedPaymentServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ChainedPaymentServlet</servlet-name>
        <url-pattern>/ChainedPayment</url-pattern>
    </servlet-mapping>

    <servlet>
        <description></description>
        <display-name>DeferredPaymentServlet</display-name>
        <servlet-name>DeferredPaymentServlet</servlet-name>
        <servlet-class>com.sample.usecase.DeferredPaymentServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DeferredPaymentServlet</servlet-name>
        <url-pattern>/CreatePayment</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeferredPaymentServlet</servlet-name>
        <url-pattern>/DeferredExecutePayment</url-pattern>
    </servlet-mapping>

    <!-- Preapproval payment -->
    <servlet>
        <description></description>
        <display-name>PreapprovalPaymentServlet</display-name>
        <servlet-name>PreapprovalPaymentServlet</servlet-name>
        <servlet-class>com.sample.usecase.PreapprovalPaymentServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>PreapprovalPaymentServlet</servlet-name>
        <url-pattern>/PreapprovalPayment</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PreapprovalPaymentServlet</servlet-name>
        <url-pattern>/Preapprove</url-pattern>
    </servlet-mapping>

    <!-- Delayed Chained Payment -->
    <servlet>
        <description></description>
        <display-name>DelayedChainedPaymentServlet</display-name>
        <servlet-name>DelayedChainedPaymentServlet</servlet-name>
        <servlet-class>com.sample.usecase.DelayedChainedPaymentServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DelayedChainedPaymentServlet</servlet-name>
        <url-pattern>/DelayedChainedPayment</url-pattern>
    </servlet-mapping>
    
</web-app>
